body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: #000;
    color: #fff;
    font-family: "Bricolage Grotesque", sans-serif;
}

* {
    box-sizing: border-box;
}

.back {
    width: 100%;
    min-height: 100dvh;
    position: fixed;
    top: 0px;
    z-index: -1;
    left: 0px;
    opacity: 0.8;
}

main {
    width: 90vw;
    min-height: 90dvh;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px outset rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem;
}
.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .7rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    gap: 0.5rem;
    background-color: dodgerblue;
    border: none;
    color: #fff;
    border-radius: 1rem;
}