*{
    padding: 2px;
    margin: 2px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
.carros{
    display: flex;
    width: 250%;
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 5px;
}
.carro {
    border: 1px #000000 solid;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 2px;
    display: flex;
    width: 200px;
}
.campoForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 1px;
}
.campoForm input{
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.campoForm button{
    color: #ffffff;
    background-color: #398202;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}