*{
    padding: 1px;
    margin: 1px;
    border-color: #0a0a0a;
    border-radius:5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    width: 150px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}
.curso{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    margin-bottom:12px;
    border:1px solid #000000;
    border-radius:15px;
    background:#fafafa;
    cursor:pointer;
    transition:.25s;

}
.selecionado{
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}
.c1{
    background-color: #ffffff;
    color: #000000;
}
.c2{
    background-color: #ffffff;
    color: #ffffff;
}

.caixa{
    border: 2px solid #000;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
    border-radius: 10px;
}

.btn_lixeira{
    width: 25px;
    cursor: pointer;
}

.caixaFuncionalidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.comandos{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#caixaNovoCurso input{
    margin: 10px;
    padding: 5px;
}