.me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    perspective: 800px; 
}
.me > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.me > div > section {
    max-width: 230px;
    min-width: 150px;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
    max-width: 7.5rem;
    transition: transform 0.5s ease-in-out;
}
.me > div > section:hover {
    z-index: 999;
    transform: translateX(-20%);
}