:root {
    --border: rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Bricolage Grotesque", sans-serif;
    color: rgb(111, 102, 112);
}
main {
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid var(--border);
    width: 75%;
    border-radius: 0.5rem;
    overflow: auto;
}
.title {
    background-color: rgb(241, 242, 246);
    padding: 1.3rem;
    border: 1px solid var(--border);
}
.title h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.7rem;
    color: rgb(150, 144, 145);
}
.novaTarefa {
    margin: 2.2rem;
    padding: 1.5rem;
    border: 2px dashed var(--border);
    border-radius: 0.5rem;
}
.novaTarefa h1 {
    margin: 0;
    font-size: 1.7rem;
    color: rgb(55, 75, 96);
}
.novaTarefa form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.7rem
}
.campo {
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    width: 270px;
    margin-top: 0.3rem;
}
.campo.cima {
    width: 425px;
    max-width: 50%;
}
.campo label {
    font-size: 1.25rem;
}
.campo input, .campo select {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 2px solid var(--border);
}
.novaTarefa form button {
    margin-left: auto;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    background-color: rgb(40, 175, 100);
    border: none;
    color: #fff;
    padding: 1.1rem;
}
table {
    width: 93%;
    margin: 3rem auto;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}
tr th {
    padding: 0.8rem;
    font-size: 1.3rem;
}
tr td {
    font-size: 1.2rem;
    max-width: 150px;
    padding: 1rem;
    font-weight: 500;
    border-top: 1px solid var(--border);
}
td div {
    padding: 0.3rem;
    border-radius: 100rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.campos {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
tr button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #e4e01f;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: bold;
}