*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
.caixa{
    border: 5px solid #000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.verde{
    border-color: lawngreen;!important;
    background-color: #c9ffc9;!important;
}
.azul{
    border-color: blue;!important;
    background-color: #ccccfd;!important;
}
.vermelho{
    border-color: red;!important;
    background-color: #ffcaca;!important;
}
button{
    width: 150px;
    height: 50px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}
#caixa_pesquisar input{
    padding: 6px;
    border-radius: 7px;
    width: 367px;
}