{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1b1a1a;
    font-family: 'Poppins', sans-serif;
    color: white;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 10%;

    background: rgb(0 0 0 / 0.03);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    position: fixed;
}
.logo{
    color: #551329;
    font-size: 30px;

    text-shadow: 0 0 10px #551329;
}

nav a{

    color: white;
    text-decoration: none;

    margin-left: 20px;

    transition: 0.3s;
}
nav a:hover{

    color: #551329;

}
.hero{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 10%;

    gap: 100px;
}

.hero-text h1{

    font-size: 60px;
}

.hero-text span{

    color: #551329;

    text-shadow: 0 0 20px #551329;
}

.hero-text p{

    margin-top: 20px;

    color: #cfcfcf;

    width: 500px;
}
button{

    margin-top: 30px;

    padding: 15px 40px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(90deg, #551329, #6e0c0c);

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{

    transform: scale(1.05);

    box-shadow: 0 0 25px #551329;
}
.hero-img img{

    width: 350px;

    filter: drop-shadow(0 0 30px #551329);

}
.skills{

    display: flex;

    justify-content: center;

    gap: 30px;

    padding: 50px 10%;

}

.card{

    width: 300px;

    padding: 30px;

    background: #551329;

    border-radius: 20px;

    text-align: center;

    transition: 0.3s;

    box-shadow: 0 0 20px rgb(255 0 0 / 0.2);

}

.card:hover{

    transform: translateY(-10px);

    box-shadow: 0 0 40px #ffffff;

}

.card h2{

    color: #ffffff;

    margin-bottom: 15px;

}


@media(max-width: 900px) {

    .hero {

        flex-direction: column;

        text-align: center;

    }

    .hero-text p {

        width: 100%;

    }

    .skills {

        flex-direction: column;

        align-items: center;
    }
}