*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}
.selecionado{
    background-color: #bffaf3 !important;
    color: #000000 !important;
    border-color: #bdfffa !important;
}
body{
    background: linear-gradient(
    40deg,
    #ffffff,
    #a3c3f5,
    #0e0e0e,
    #7fa8fd
    );
    background-size: 400% 400%;
    animation: fundo 34s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    display:flex;
    gap: 80px;
}
.caixa{
    width: 390px;
    min-height: 220px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 29px;
    padding: 25px;
    box-shadow: 10px 10px 15px 5px rgb(109 175 229);
}
.caixaFuncionalidades{
    margin-bottom: 25px;
}
label{
    justify-content: center;
    align-items: center;
    display: block;
    margin-bottom:20px;
    font-size:19px;
    font-weight: bold;
    color: #9fedf5;
    text-shadow:
    -1px   -1px 0 #000,
     1px   -1px 0 #000,
    -1px   1px 0 #000,
     1px   1px 0 #000,
     /*segunda linha tentativa de deixar em 3D*/
     2px  2px 0 #000,
     3px  3px 0 #000,
     4px  4px 0 #000,
     5px  4px 0 #000;
}
input{
    width: 100%;
    height: 55%;
    padding: 0 9px;
    border: 11px #ccc;
    border-radius:20px;
    outline: none;
    font-size: 19px;
    margin-bottom: 17px;
    transition: 3s;
}
input:focus{
    border-color:#d4deec;
    box-shadow: 0 0 0 3px rgb(136 252 247);
}
button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 19px;
    background: #478c7f;
    color: #fff;
    transition: 6s;
}
button:hover{
    background: #ddddfc;
}
.curso{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    margin-bottom:19px;
    border:1px solid #dddd;
    border-radius: 25px;
    background: #fafafa;
    cursor: pointer;
    transition: 700ms;
    text-shadow: 10px 5px 3px rgb(177 177 248);
}
.curso:hover{
    background:#f0f0f0;
    transform:translateX(13px);
}
::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#bdbdbd;
    border-radius:2px;
}
#btnAdicionarAntes{
    margin-bottom: 20px;
    color: #fdfdfd;

}
#btnAdicionarDepois{
    color: #fdfdfd;
}
#btnRemoverCurso{
    margin-bottom:1px;
    color: #fdfdfd;
}
@keyframes fundo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 100% 50%;
    }

}